In [17]:
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [18]:
import sqlite3

In [19]:
con =sqlite3.connect("escola.db")
type(con)
cur = con.cursor()
type(cur)

sqlite3.Cursor

In [20]:
sql_create = 'create table cursos '\
    '(id integer primary key, '\
    'titulo varchar(100), '\
    'categoria varchar(140))'
    
cur.execute(sql_create)

In [21]:
sql_insert = 'insert into cursos values (?, ?, ?)'

recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

for rec in recset:
    cur.execute(sql_insert, rec)
    
con.commit()

In [22]:
sql_select = 'select * from cursos'
cur.execute(sql_select)
dados = cur.fetchall()
dados

[(1000, 'Ciência de Dados', 'Data Science'),
 (1001, 'Big Data Fundamentos', 'Big Data'),
 (1002, 'Python Fundamentos', 'Análise de Dados')]

In [23]:
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

for rec in recset:
    cur.execute(sql_insert, rec)
    
con.commit()

In [24]:
sql_select = 'select * from cursos'
cur.execute(sql_select)
dados = cur.fetchall()
dados

[(1000, 'Ciência de Dados', 'Data Science'),
 (1001, 'Big Data Fundamentos', 'Big Data'),
 (1002, 'Python Fundamentos', 'Análise de Dados'),
 (1003, 'Gestão de Dados com MongoDB', 'Big Data'),
 (1004, 'R Fundamentos', 'Análise de Dados')]

In [25]:
con.close()